.kpiGrid{
  grid-template-columns: 1fr;
}
.grid2{
  grid-template-columns: 1fr;
}
.tableWrap{ display:none; }
.mobileCards{ display:grid; }

@media (min-width: 900px){
  .kpiGrid{ grid-template-columns: repeat(3, 1fr); }
  .grid2{ grid-template-columns: 1fr 1fr; }
  .tableWrap{ display:block; }
  .mobileCards{ display:none; }
}
